/* font-family: 'Roboto', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: --(basicFont);
    font-size: 1.6rem;
}

.hero-shadow{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.top-hero{
    position: relative;
    height: 200px;
    block-size: cover;
    z-index: 0;
}

.top-hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    text-transform: uppercase;
}

/* navigation */
.navbar-brand{
    font-size: 2.4rem;
    font-weight: bold;
}

.navbar-toggler{
    font-size: 3rem;
}
/* navigation */

/* header, slider */
header{
    font-size: 2rem;
}

.carousel-item{
    position: relative;
    height: 400px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.carousel-img-one{
    background-image: url(../img/main-carousel-1.jpg);
}
.carousel-img-two{
    background-image: url(../img/main-carousel-2.jpg);
}
.carousel-img-three{
    background-image: url(../img/main-carousel-3.jpg);
}
/* header, slider */

/*boxes section*/
.home-boxes{
    padding: 5em 0;
}

.home-box i {
    font-size: 4rem;
}

.home-box h3 {
    font-size: 2.6rem;
}
/*boxes section*/

/*passion section*/
.home-passion{
    position: relative;
    height: 350px;
    background-image: url('../img/home-passion.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}
/*passion section*/

/*brand section*/
.home-brand h3{
    font-weight: bold;
    font-size: 2.2rem;
}
/*brand section*/

/* footer */
footer{
    font-size: 1.6rem;
}
/* footer */

/* about us */
.aboutus-hero{
    background-image: url('../img/aboutUs/hd-wallpaper-gd499c819e_1920.jpg');
    background-position: bottom;
}
/* about us */

/* about us info*/
.aboutus-info .container{
    padding: 2em 0.5em;
}

.aboutus-text h3{
    margin-bottom: 0.5em;
    font-size: 2.6rem ;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline #007BFF;
}

.aboutus-img{
    height: 300px;
    object-fit: cover;
}
/* about us info*/

/* about us info, desktop*/
@media (min-width: 992px){
    .aboutus-info .container{
        padding: 0;
    }
    .aboutus-shadow{
        box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, .4);
    }
    .aboutus-text{
        /* padding: 5em 0; */
        transform: skew(-15deg);
    }
    .aboutus-text-left{
        padding-right: 2em;

    }
    .aboutus-text-right{
        padding-left: 2em;
        text-align: left;
    }

    .aboutus-img{
        height: auto;
        transform: skew(-15deg);
    }
    
}
/* about us info, desktop*/

/*about us cards*/
.aboutus-card-icon{
    font-size: 3rem;
}

.aboutus-card-txt h3{
    font-size: 2.2rem;
    font-weight: bold;
}
/*about us cards*/

/* services */
.service-hero{
    background-image: url('../img/services/usługi.jpg');
    background-position: 0 75%;
}

.service-hero-bo{
    position: relative;
    height: 300px;
    background-size: cover;
    z-index: 0;
}
.service-hero-bo p{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3rem;
   text-transform: uppercase;
   color: #fff;
   text-align: center;
}
.service-hero-bo.box-one{
    background-image: url(../img/services/engine.jpg);
}
.service-hero-bo.box-two{
    background-image: url(../img/services/visual.jpg);
}
.service-hero-bo.box-three{
    background-image: url(../img/services/car-audio.jpg);
}
.service-hero-bo.box-four{
    background-image: url(../img/services/allinone.jpg);
}
/* services */

/* projects */
.project-hero{
    background-image: url('../img/projects/project-hero.jpg');
    background-position: center;
}
/* projects */
/* contact */
.contact-hero{
    background-image: url('../img/contact/shelby-g55d86c20d_1920.jpg');
    background-position: center;
}

.contact h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

.contact-logo {
    font-size: 3rem;
}
.contact input, .contact select, .contact textarea{
    font-size: 1.6rem;
}

.contact .btn {
    padding: 0.3em 0.8em;
    font-size: 2rem;
}

.contact-map iframe{
    width: 100%;
    min-height: 400px;
}
/* contact*/



/* header, slider desktop*/
@media (min-width: 1400px){
    .carousel-item{
        height: 600px;
    }

    .carousel-img-one{
        background-image: url(../img/main-carousel-1-hq.jpg);
    }
    .carousel-img-two{
        background-image: url(../img/main-carousel-2-hq.jpg);
    }
    .carousel-img-three{
        background-image: url(../img/main-carousel-3-hq.jpg);
    }
}
/* header, slider desktop */